<div class="row">
	<ul class="list-group songs">
	{{#each song in model}}
		<li class="list-group-item">
			{{song.title}}
			<span class="rating pull-right">{{song.rating}}</span>
		</li>
	{{/each}}
	</ul>
</div>